<app-header></app-header>
<div class="hero">
  <div class="container-19-home w-container">
    <div class="div-block-47">
      <div class="div-block-51">
        <img
          src="https://assets-global.website-files.com/6164820eb679607415dca969/6344991a69bc7576565fb56c_HEADER.png"
          loading="lazy"
          srcset="
            https://assets-global.website-files.com/6164820eb679607415dca969/6344991a69bc7576565fb56c_HEADER-p-500.png   500w,
            https://assets-global.website-files.com/6164820eb679607415dca969/6344991a69bc7576565fb56c_HEADER-p-800.png   800w,
            https://assets-global.website-files.com/6164820eb679607415dca969/6344991a69bc7576565fb56c_HEADER-p-1080.png 1080w,
            https://assets-global.website-files.com/6164820eb679607415dca969/6344991a69bc7576565fb56c_HEADER-p-1600.png 1600w,
            https://assets-global.website-files.com/6164820eb679607415dca969/6344991a69bc7576565fb56c_HEADER.png        1908w
          "
          sizes="(max-width: 479px) 96vw, (max-width: 767px) 95vw, (max-width: 991px) 728px, 940px"
          alt=""
          class="image-40"
        />
      </div>
      <div class="div-block-50">
        <div class="div-block-49 div-block-18">
          <img
            src="https://assets-global.website-files.com/6164820eb679607415dca969/63449930bfe98982f6c00cff_esquerda.png"
            loading="lazy"
            alt=""
            class="image-26"
          />
        </div>
        <div class="div-block-58">
          <a
            href="https://lollapalooza.sales.ticketsforfun.com.br/"
            target="_blank"
            class="w-inline-block"
            ><img
              src="https://assets-global.website-files.com/6164820eb679607415dca969/634ff8b6d369cb79ff10e6f9_LOLLABR23_LINE-UP-DAY_SITE.png"
              loading="lazy"
              srcset="
                https://assets-global.website-files.com/6164820eb679607415dca969/634ff8b6d369cb79ff10e6f9_LOLLABR23_LINE-UP-DAY_SITE-p-500.png   500w,
                https://assets-global.website-files.com/6164820eb679607415dca969/634ff8b6d369cb79ff10e6f9_LOLLABR23_LINE-UP-DAY_SITE-p-800.png   800w,
                https://assets-global.website-files.com/6164820eb679607415dca969/634ff8b6d369cb79ff10e6f9_LOLLABR23_LINE-UP-DAY_SITE-p-1080.png 1080w,
                https://assets-global.website-files.com/6164820eb679607415dca969/634ff8b6d369cb79ff10e6f9_LOLLABR23_LINE-UP-DAY_SITE-p-1600.png 1600w,
                https://assets-global.website-files.com/6164820eb679607415dca969/634ff8b6d369cb79ff10e6f9_LOLLABR23_LINE-UP-DAY_SITE.png        1706w
              "
              sizes="(max-width: 479px) 96vw, (max-width: 767px) 66vw, (max-width: 991px) 509.59375px, 658px"
              alt=""
              class="image-28"
          /></a>
        </div>
        <div class="div-block-49">
          <img
            src="https://assets-global.website-files.com/6164820eb679607415dca969/6344993b446707ab624b17db_direita.png"
            loading="lazy"
            alt=""
            class="image-27"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="div-block-57">
    <img
      src="https://assets-global.website-files.com/6164820eb679607415dca969/62ea815e7722a55a87e5f7d6_LOLLA_SITE_CIDADE.png"
      loading="lazy"
      width="960"
      srcset="
        https://assets-global.website-files.com/6164820eb679607415dca969/62ea815e7722a55a87e5f7d6_LOLLA_SITE_CIDADE-p-500.png   500w,
        https://assets-global.website-files.com/6164820eb679607415dca969/62ea815e7722a55a87e5f7d6_LOLLA_SITE_CIDADE-p-800.png   800w,
        https://assets-global.website-files.com/6164820eb679607415dca969/62ea815e7722a55a87e5f7d6_LOLLA_SITE_CIDADE-p-1080.png 1080w,
        https://assets-global.website-files.com/6164820eb679607415dca969/62ea815e7722a55a87e5f7d6_LOLLA_SITE_CIDADE-p-1600.png 1600w,
        https://assets-global.website-files.com/6164820eb679607415dca969/62ea815e7722a55a87e5f7d6_LOLLA_SITE_CIDADE.png        1920w
      "
      sizes="100vw"
      alt=""
      class="image-32"
    />
  </div>
  <div class="div-block-55">
    <img
      src="https://assets-global.website-files.com/6164820eb679607415dca969/62ea7c8112a1db51745a1faa_LOLLA_SITE_FAIXA.png"
      loading="lazy"
      alt=""
      class="image-30"
    />
  </div>
  <div class="div-block-56">
    <img
      src="https://assets-global.website-files.com/6164820eb679607415dca969/62ea7c8c90a5606e4b1f8076_LOLLA_SITE_LINHA.png"
      loading="lazy"
      srcset="
        https://assets-global.website-files.com/6164820eb679607415dca969/62ea7c8c90a5606e4b1f8076_LOLLA_SITE_LINHA-p-500.png   500w,
        https://assets-global.website-files.com/6164820eb679607415dca969/62ea7c8c90a5606e4b1f8076_LOLLA_SITE_LINHA-p-800.png   800w,
        https://assets-global.website-files.com/6164820eb679607415dca969/62ea7c8c90a5606e4b1f8076_LOLLA_SITE_LINHA-p-1080.png 1080w,
        https://assets-global.website-files.com/6164820eb679607415dca969/62ea7c8c90a5606e4b1f8076_LOLLA_SITE_LINHA.png        1920w
      "
      sizes="100vw"
      alt=""
      class="image-31"
    />
  </div>
  <img
    src="https://assets-global.website-files.com/6164820eb679607415dca969/62ea7c6412a1db6c595a1eeb_LOLLA_SITE_PATINS.png"
    loading="lazy"
    alt=""
    class="imgpatins"
  />
  <img
    src="https://assets-global.website-files.com/6164820eb679607415dca969/62ea7c6f9d12250e64edb4ca_LOLLA_SITE_VITROLA.png"
    loading="lazy"
    alt=""
    class="imgtocadisco"
  />
</div>
<div class="section-15 wf-section">
  <div class="container-21 w-container">
    <h4 class="heading-23 text-stroke">Conheça nossos produtos</h4>
    <div class="div-block-60">
      <div class="div-block-59">
        <a
          href="https://merch.com.br/lollastore/"
          target="_blank"
          class="link-block-10 w-inline-block"
          ><img
            src="https://assets-global.website-files.com/6164820eb679607415dca969/63238dc10cea321b1ec2d36a_MERCH.png"
            loading="lazy"
            alt=""
          />
          <div class="text-block-14">merch</div></a
        >
      </div>
      <div class="div-block-59">
        <a
          href="https://lollapalooza.crmocs.com.br"
          target="_blank"
          class="link-block-10 w-inline-block"
          ><img
            src="https://assets-global.website-files.com/6164820eb679607415dca969/63238dc131b8574ee18b09b4_LOCKER.png"
            loading="lazy"
            alt=""
          />
          <div class="text-block-14">lolla<br />lockers</div></a
        >
      </div>
    </div>
  </div>
  <div class="videocontainer w-container">
    <h4 class="heading-23 text-stroke">
      Confira tudo que rolou <br />no #Lollabr 2022
    </h4>
    <div class="div-block-47">
      <div class="div-block-49 div-block-18 hidden videoimagediv">
        <img
          src="https://assets-global.website-files.com/6164820eb679607415dca969/62ea6d401bd1f58b977c5749_LOLLA_SITE_PAZ.png"
          loading="lazy"
          alt=""
          class="image-26 videoimage"
        />
      </div>
      <div
        style="padding-top: 56.17021276595745%"
        class="w-embed-youtubevideo youtube-3"
      >
        <iframe
          src="https://www.youtube.com/embed/-j6pmPwlCkg?rel=0&amp;controls=1&amp;autoplay=0&amp;mute=0&amp;start=0"
          frameborder="0"
          style="
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            pointer-events: auto;
          "
          allow="autoplay; encrypted-media"
          allowfullscreen=""
          title="Aftermovie | Lollapalooza Brasil 2022"
        ></iframe>
      </div>
      <div class="div-block-49 hidden videoimagediv">
        <img
          src="https://assets-global.website-files.com/6164820eb679607415dca969/62ea6d4b01756723bf5b4cb8_LOLLA_SITE_MA%CC%83O.png"
          loading="lazy"
          alt=""
          class="image-27 videoimage"
        />
      </div>
    </div>
    <a href="/partners" class="link-block-9 w-inline-block"
      ><img
        src="https://assets-global.website-files.com/6164820eb679607415dca969/635007e510a3125a6ce0c534_LOLLA_2023_BARRA-DE-PATROCINADORES.png"
        loading="lazy"
        srcset="
          https://assets-global.website-files.com/6164820eb679607415dca969/635007e510a3125a6ce0c534_LOLLA_2023_BARRA-DE-PATROCINADORES-p-500.png   500w,
          https://assets-global.website-files.com/6164820eb679607415dca969/635007e510a3125a6ce0c534_LOLLA_2023_BARRA-DE-PATROCINADORES-p-800.png   800w,
          https://assets-global.website-files.com/6164820eb679607415dca969/635007e510a3125a6ce0c534_LOLLA_2023_BARRA-DE-PATROCINADORES-p-1080.png 1080w,
          https://assets-global.website-files.com/6164820eb679607415dca969/635007e510a3125a6ce0c534_LOLLA_2023_BARRA-DE-PATROCINADORES-p-1600.png 1600w
        "
        alt="Barra de patrocinadores"
        sizes="(max-width: 479px) 100vw, (max-width: 767px) 90vw, (max-width: 991px) 728px, 940px"
        class="image-33"
    /></a>
  </div>
</div>
<div class="lolla-global-2">
  <div class="lolla-global-section wf-section">
    <div class="lolla-global-wrapper">
      <h3 class="lolla-global-header">Lolla é Global</h3>
      <a
        href="https://global.lollapalooza.com"
        target="_blank"
        class="button_br-purple w-button"
        >faça o Tour ➤</a
      >
    </div>
  </div>
</div>
<app-footer></app-footer>
