<div class="footer wf-section">
  <div class="w-container">
    <div class="div-block">
      <div class="div-block-2">
        <div class="text-block sub-footer-text copyright">
          © Lollapalooza,&nbsp; Foursys,&nbsp; Raphael Morette
        </div>
        <a
          href="https://ticketsforfun.com.br/politicas/politica-de-privacidade"
          class="text-block sub-footer-text"
          >Privacidade</a
        ><a
          href="https://ticketsforfun.com.br/politicas/termos-e-condicoes"
          target="_blank"
          class="text-block sub-footer-text"
          >Termos &amp; Condições</a
        >
        <a
          href="https://www.ticketsforfun.com.br/politicas/acesso-aos-meus-dados"
          class="text-block sub-footer-text"
          >LGPD</a
        ><a
          href="https://pub-images-t4f.s3.amazonaws.com/LOLLA2022/ALVARA_LOLLAPALOOZA_2022.pdf"
          target="_blank"
          class="text-block sub-footer-text"
          >Alvará</a
        ><a
          href="https://pub-images-t4f.s3.amazonaws.com/LOLLA2022/AVCB_LOLLAPALOOZA_2022.pdf"
          target="_blank"
          class="text-block sub-footer-text"
          >AVCB</a
        >
      </div>
    </div>
  </div>
</div>
